<h1>Webscraping to Extract Book Data</h1>

I will use the requests library to download the webpage https://books.toscrape.com/catalogue/tuesday-nights-in-1980_870/index.html. Then I will save the text of the response in a pandas dataframe to be further analysed.

In [35]:
import pandas as pd
from bs4 import BeautifulSoup 
import requests

In [36]:
url='https://books.toscrape.com/catalogue/tuesday-nights-in-1980_870/index.html'
html_data= requests.get(url).text

In [37]:
soup = BeautifulSoup(html_data, "html.parser")

In [38]:
#find all html tables in the web page
tables = soup.find_all('table')

In [39]:
# we can see how many tables were found by checking the length of the tables list
print('Number of tables: ',len(tables))

Number of tables:  1

In [40]:
print('All the tables: ', pd.read_html(str(tables), flavor='bs4'))

All the tables:  [                   0                        1
0                UPC         b8736690cf263a3c
1       Product Type                    Books
2  Price (excl. tax)                  Â£21.04
3  Price (incl. tax)                  Â£21.04
4                Tax                   Â£0.00
5       Availability  In stock (15 available)
6  Number of reviews                        0]

In [62]:
#FINAL pandas Dataframe of the Table:
df = pd.read_html(str(tables[0]), flavor='bs4')[0]

df.head()

                   0                 1
0                UPC  b8736690cf263a3c
1       Product Type             Books
2  Price (excl. tax)           Â£21.04
3  Price (incl. tax)           Â£21.04
4                Tax            Â£0.00

In [65]:
df=df.rename(columns={0: "Info", 1:"Value"})

df['Value'] = df['Value'].str.replace('Â',"")
df = df[df['Value'] != ""]
df.head()

                Info             Value
0                UPC  b8736690cf263a3c
1       Product Type             Books
2  Price (excl. tax)            £21.04
3  Price (incl. tax)            £21.04
4                Tax             £0.00