## Webscraping to Extract GME Revenue Data

I will use the requests library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Then I will save the text of the response in a pandas dataframe to be further analysed.

In [2]:
import pandas as pd
from bs4 import BeautifulSoup 
import requests

In [3]:
url='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'
html_data= requests.get(url).text

In [4]:
soup = BeautifulSoup(html_data, "html.parser")

In [5]:
#find all html tables in the web page
tables = soup.find_all('table')

In [6]:
# we can see how many tables were found by checking the length of the tables list
print('Number of tables: ',len(tables))

Number of tables:  6

In [7]:
print('All the tables: ', pd.read_html(str(tables), flavor='bs4'))

All the tables:  [    GameStop Annual Revenue(Millions of US $)  \
0                                        2020
1                                        2019
2                                        2018
3                                        2017
4                                        2016
5                                        2015
6                                        2014
7                                        2013
8                                        2012
9                                        2011
10                                       2010
11                                       2009
12                                       2008
13                                       2007
14                                       2006
15                                       2005

   GameStop Annual Revenue(Millions of US $).1
0                                       $6,466
1                                       $8,285
2                                       $8,547
3                                       $7,965
4                                       $9,364
5                                       $9,296
6                                       $9,040
7                                       $8,887
8                                       $9,551
9                                       $9,474
10                                      $9,078
11                                      $8,806
12                                      $7,094
13                                      $5,319
14                                      $3,092
15                                      $1,843  ,    GameStop Quarterly Revenue(Millions of US $)  \
0                                    2020-04-30
1                                    2020-01-31
2                                    2019-10-31
3                                    2019-07-31
4                                    2019-04-30
..                                          ...
57                                   2006-01-31
58                                   2005-10-31
59                                   2005-07-31
60                                   2005-04-30
61                                   2005-01-31

   GameStop Quarterly Revenue(Millions of US $).1
0                                          $1,021
1                                          $2,194
2                                          $1,439
3                                          $1,286
4                                          $1,548
..                                            ...
57                                         $1,667
58                                           $534
59                                           $416
60                                           $475
61                                           $709

[62 rows x 2 columns],                                               Sector  \
0                                   Retail/Wholesale
1  GameStop Corp. is the world's largest video ga...

                                            Industry  \
0                      Retail - Consumer Electronics
1  GameStop Corp. is the world's largest video ga...

                                          Market Cap  \
0                                            $0.293B
1  GameStop Corp. is the world's largest video ga...

                                             Revenue
0                                            $6.466B
1  GameStop Corp. is the world's largest video ga...  ,                      Stock Name        Country Market Cap  PE Ratio
0                Best Buy (BBY)  United States   $27.033B     18.16
1                Aaron's, (AAN)  United States    $3.975B     15.14
2  GOME Retail Holdings (GMELY)          China    $1.684B      0.00
3                Systemax (SYX)  United States    $0.873B     18.34
4                 Conn's (CONN)  United States    $0.325B      0.00
5     Taitron Components (TAIT)  United States    $0.016B     10.50,                        Link Preview  HTML Code (Click to Copy)
0  GameStop Revenue 2006-2020 | GME                        NaN
1                       Macrotrends                        NaN
2                            Source                        NaN,                        Link Preview  HTML Code (Click to Copy)
0  GameStop Revenue 2006-2020 | GME                        NaN
1                       Macrotrends                        NaN
2                            Source                        NaN]

In [8]:
#find THE TABLE that I want using the title e.g. title= "GameStop Quarterly Revenue"
for index,table in enumerate(tables):
    if ("GameStop Quarterly Revenue" in str(table)):
        table_index = index
print('identifier number of the table I am searching: ',table_index)

identifier number of the table I am searching:  1

In [9]:
# I will give a look to the right table:
print('Table that I searched: ', pd.read_html(str(tables[1]), flavor='bs4'))

Table that I searched:  [   GameStop Quarterly Revenue(Millions of US $)  \
0                                    2020-04-30
1                                    2020-01-31
2                                    2019-10-31
3                                    2019-07-31
4                                    2019-04-30
..                                          ...
57                                   2006-01-31
58                                   2005-10-31
59                                   2005-07-31
60                                   2005-04-30
61                                   2005-01-31

   GameStop Quarterly Revenue(Millions of US $).1
0                                          $1,021
1                                          $2,194
2                                          $1,439
3                                          $1,286
4                                          $1,548
..                                            ...
57                                         $1,667
58                                           $534
59                                           $416
60                                           $475
61                                           $709

[62 rows x 2 columns]]

In [10]:
#FINAL pandas Dataframe of the Table:
df = pd.read_html(str(tables[1]), flavor='bs4')[0] 

df.head()

,GameStop Quarterly Revenue(Millions of US $),GameStop Quarterly Revenue(Millions of US $).1
0,2020-04-30,"$1,021"
1,2020-01-31,"$2,194"
2,2019-10-31,"$1,439"
3,2019-07-31,"$1,286"
4,2019-04-30,"$1,548"

In [11]:
df=df.rename(columns={'GameStop Quarterly Revenue(Millions of US $)':'Date', 'GameStop Quarterly Revenue(Millions of US $).1':'Revenue'})
df.head()

         Date Revenue
0  2020-04-30  $1,021
1  2020-01-31  $2,194
2  2019-10-31  $1,439
3  2019-07-31  $1,286
4  2019-04-30  $1,548

In [12]:
df["Revenue"] = df['Revenue'].str.replace(',|\$',"")
df.dropna(inplace=True)

df = df[df['Revenue'] != ""]

C:\Users\Marco\AppData\Local\Temp\ipykernel_26460\4368088.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Revenue"] = df['Revenue'].str.replace(',|\$',"")

In [13]:
df.head()

         Date Revenue
0  2020-04-30    1021
1  2020-01-31    2194
2  2019-10-31    1439
3  2019-07-31    1286
4  2019-04-30    1548