<h1>Webscraping to Extract Devon Energy Corporation Data</h1>

I will use the requests library to download the webpage https://finance.yahoo.com/quote/DVN/history?p=DVN. Then I will save the text of the response in a pandas dataframe to be further analysed.

In [7]:
import pandas as pd
from bs4 import BeautifulSoup 
import requests

In [8]:
url='https://finance.yahoo.com/quote/DVN/history?p=DVN'
html_data= requests.get(url).text

headers = {
    "User-Agent": "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0"
}

In [9]:
soup = BeautifulSoup(requests.get(url, headers=headers).content, "html.parser")

In [10]:
#find all html tables in the web page
tables = soup.find_all('table')

In [11]:
# we can see how many tables were found by checking the length of the tables list
print('Number of tables: ',len(tables))

Number of tables:  1

In [12]:
print('All the tables: ', pd.read_html(str(tables), flavor='bs4'))

All the tables:  [                                                  Date  \
0                                         Dec 08, 2022
1                                         Dec 07, 2022
2                                         Dec 06, 2022
3                                         Dec 05, 2022
4                                         Dec 02, 2022
..                                                 ...
96                                        Jul 26, 2022
97                                        Jul 25, 2022
98                                        Jul 22, 2022
99                                        Jul 21, 2022
100  *Close price adjusted for splits.**Adjusted cl...

                                                  Open  \
0                                                65.90
1                                                64.57
2                                                66.00
3                                                69.75
4                                                68.00
..                                                 ...
96                                               59.00
97                                               56.02
98                                               56.38
99                                               55.80
100  *Close price adjusted for splits.**Adjusted cl...

                                                  High  \
0                                                66.38
1                                                65.46
2                                                67.26
3                                                70.42
4                                                69.48
..                                                 ...
96                                               59.19
97                                               58.06
98                                               57.28
99                                               56.26
100  *Close price adjusted for splits.**Adjusted cl...

                                                   Low  \
0                                                63.05
1                                                63.40
2                                                63.64
3                                                65.85
4                                                68.00
..                                                 ...
96                                               55.76
97                                               55.27
98                                               54.91
99                                               54.19
100  *Close price adjusted for splits.**Adjusted cl...

                                                Close*  \
0                                                63.50
1                                                64.25
2                                                64.13
3                                                66.55
4                                                68.46
..                                                 ...
96                                               56.76
97                                               57.97
98                                               55.19
99                                               56.20
100  *Close price adjusted for splits.**Adjusted cl...

                                           Adj Close**  \
0                                                63.50
1                                                64.25
2                                                64.13
3                                                66.55
4                                                68.46
..                                                 ...
96                                               55.48
97                                               56.67
98                                               53.95
99                                               54.94
100  *Close price adjusted for splits.**Adjusted cl...

                                                Volume
0                                             13274889
1                                             10523200
2                                             10278500
3                                             11218100
4                                              8239500
..                                                 ...
96                                             9777700
97                                             8473200
98                                             6315800
99                                             8150400
100  *Close price adjusted for splits.**Adjusted cl...

[101 rows x 7 columns]]

In [13]:
#FINAL pandas Dataframe of the Table:
df = pd.read_html(str(tables[0]), flavor='bs4')[0] 

df.head()

           Date   Open   High    Low Close* Adj Close**    Volume
0  Dec 08, 2022  65.90  66.38  63.05  63.50       63.50  13274889
1  Dec 07, 2022  64.57  65.46  63.40  64.25       64.25  10523200
2  Dec 06, 2022  66.00  67.26  63.64  64.13       64.13  10278500
3  Dec 05, 2022  69.75  70.42  65.85  66.55       66.55  11218100
4  Dec 02, 2022  68.00  69.48  68.00  68.46       68.46   8239500