<h1>Webscraping to Extract Netflix Stock Data</h1>

I will use the requests library to download the webpage <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html>. Then I will save the text of the response in a pandas dataframe to be further analysed.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup 
import requests

In [2]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

data  =requests.get(url).text

In [3]:
soup = BeautifulSoup(data, "html.parser")

In [4]:
#find all html tables in the web page
tables = soup.find_all('table')

In [5]:
# we can see how many tables were found by checking the length of the tables list
print('Number of tables: ',len(tables))

Number of tables:  1

In [6]:
print('All the tables: ', pd.read_html(str(tables), flavor='bs4'))

All the tables:  [                                                 Date  \
0                                        Jun 01, 2021
1                                        May 01, 2021
2                                        Apr 01, 2021
3                                        Mar 01, 2021
4                                        Feb 01, 2021
..                                                ...
66                                       Dec 01, 2015
67                                       Nov 01, 2015
68                                       Oct 01, 2015
69                                       Sep 01, 2015
70  *Close price adjusted for splits.**Adjusted cl...

                                                 Open  \
0                                              504.01
1                                              512.65
2                                              529.93
3                                              545.57
4                                              536.79
..                                                ...
66                                             124.47
67                                             109.20
68                                             102.91
69                                             109.35
70  *Close price adjusted for splits.**Adjusted cl...

                                                 High  \
0                                              536.13
1                                              518.95
2                                              563.56
3                                              556.99
4                                              566.65
..                                                ...
66                                             133.27
67                                             126.60
68                                             115.83
69                                             111.24
70  *Close price adjusted for splits.**Adjusted cl...

                                                  Low  \
0                                              482.14
1                                              478.54
2                                              499.00
3                                              492.85
4                                              518.28
..                                                ...
66                                             113.85
67                                             101.86
68                                              96.26
69                                              93.55
70  *Close price adjusted for splits.**Adjusted cl...

                                               Close*  \
0                                              528.21
1                                              502.81
2                                              513.47
3                                              521.66
4                                              538.85
..                                                ...
66                                             114.38
67                                             123.33
68                                             108.38
69                                             103.26
70  *Close price adjusted for splits.**Adjusted cl...

                                          Adj Close**  \
0                                              528.21
1                                              502.81
2                                              513.47
3                                              521.66
4                                              538.85
..                                                ...
66                                             114.38
67                                             123.33
68                                             108.38
69                                             103.26
70  *Close price adjusted for splits.**Adjusted cl...

                                               Volume
0                                            78560600
1                                            66927600
2                                           111573300
3                                            90183900
4                                            61902300
..                                                ...
66                                          319939200
67                                          320321800
68                                          446204400
69                                          497401200
70  *Close price adjusted for splits.**Adjusted cl...

[71 rows x 7 columns]]

In [7]:
#FINAL pandas Dataframe of the Table:
df = pd.read_html(str(tables[0]), flavor='bs4')[0] 

df.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300