<h1>Webscraping to Extract Amazon stock Data</h1>

I will use the requests library to download the webpage <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html>. Then I will save the text of the response in a pandas dataframe to be further analysed.

In [7]:
import pandas as pd
from bs4 import BeautifulSoup 
import requests

In [8]:
url='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html'
html_data= requests.get(url).text

In [9]:
soup = BeautifulSoup(html_data, "html.parser")

In [10]:
#find all html tables in the web page
tables = soup.find_all('table')

In [11]:
# we can see how many tables were found by checking the length of the tables list
print('Number of tables: ',len(tables))

Number of tables:  1

In [12]:
print('All the tables: ', pd.read_html(str(tables), flavor='bs4'))

All the tables:  [                                                 Date  \
0                                        Jan 01, 2021
1                                        Dec 01, 2020
2                                        Nov 01, 2020
3                                        Oct 01, 2020
4                                        Sep 01, 2020
..                                                ...
57                                       Apr 01, 2016
58                                       Mar 01, 2016
59                                       Feb 01, 2016
60                                       Jan 01, 2016
61  *Close price adjusted for splits.**Adjusted cl...

                                                 Open  \
0                                             3270.00
1                                             3188.50
2                                             3061.74
3                                             3208.00
4                                             3489.58
..                                                ...
57                                             590.49
58                                             556.29
59                                             578.15
60                                             656.29
61  *Close price adjusted for splits.**Adjusted cl...

                                                 High  \
0                                             3363.89
1                                             3350.65
2                                             3366.80
3                                             3496.24
4                                             3552.25
..                                                ...
57                                             669.98
58                                             603.24
59                                             581.80
60                                             657.72
61  *Close price adjusted for splits.**Adjusted cl...

                                                  Low  \
0                                             3086.00
1                                             3072.82
2                                             2950.12
3                                             3019.00
4                                             2871.00
..                                                ...
57                                             585.25
58                                             538.58
59                                             474.00
60                                             547.18
61  *Close price adjusted for splits.**Adjusted cl...

                                               Close*  \
0                                             3206.20
1                                             3256.93
2                                             3168.04
3                                             3036.15
4                                             3148.73
..                                                ...
57                                             659.59
58                                             593.64
59                                             552.52
60                                             587.00
61  *Close price adjusted for splits.**Adjusted cl...

                                          Adj Close**  \
0                                             3206.20
1                                             3256.93
2                                             3168.04
3                                             3036.15
4                                             3148.73
..                                                ...
57                                             659.59
58                                             593.64
59                                             552.52
60                                             587.00
61  *Close price adjusted for splits.**Adjusted cl...

                                               Volume
0                                            71528900
1                                            77556200
2                                            90810500
3                                           116226100
4                                           115899300
..                                                ...
57                                           78464200
58                                           94009500
59                                          124144800
60                                          130200900
61  *Close price adjusted for splits.**Adjusted cl...

[62 rows x 7 columns]]

In [15]:
#FINAL pandas Dataframe of the Table:
df = pd.read_html(str(tables[0]), flavor='bs4')[0] 

df.head()

           Date     Open     High      Low   Close* Adj Close**     Volume
0  Jan 01, 2021  3270.00  3363.89  3086.00  3206.20     3206.20   71528900
1  Dec 01, 2020  3188.50  3350.65  3072.82  3256.93     3256.93   77556200
2  Nov 01, 2020  3061.74  3366.80  2950.12  3168.04     3168.04   90810500
3  Oct 01, 2020  3208.00  3496.24  3019.00  3036.15     3036.15  116226100
4  Sep 01, 2020  3489.58  3552.25  2871.00  3148.73     3148.73  115899300